{% extends 'base.html.twig' %}

{% block title %}New CommandeVoitures{% endblock %}

{% block body %}
   <center> <h1>Commander votre nouveau voiture</h1> </center>

    {{ include('commande_voitures/_form.html.twig') }}

  {#<div class="f">  <footer><p> <a href="{{ path('app_contact_index') }}">back to list</a></p> </footer> </div>#}
{% endblock %}
